.section-inner {
  background-size: cover;
  background-position: center center;
}
.acm-stats .stats-header {
  margin-bottom: 30px;
}
.acm-stats .stats-header .stats-title {
  margin: 0 0 48px;
  font-size: 23px;
  font-weight: 300;
  color: #333333;
  line-height: 1.75;
}
.acm-stats .stats-header .stats-description {
  margin-top: 0;
  font-weight: 300;
  line-height: 1.6;
}
.acm-stats .stats-list {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.acm-stats .stats-list:before,
.acm-stats .stats-list:after {
  content: " ";
  display: table;
}
.acm-stats .stats-list:after {
  clear: both;
}
.acm-stats .stats-list li {
  padding: 0 15px;
  border-top: 0;
}
.acm-stats.style-dark {
  color: #ffffff;
}
.acm-stats.style-dark .stats-title {
  color: #ffffff;
}
.acm-stats.style-dark .stats-subject {
  color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
@media screen and (max-width: 991px) {
  .acm-stats .container {
    overflow: hidden;
  }
}
.ie8 .acm-stats .container {
  width: auto;
}
@-webkit-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.inview .acm-stats .stats-list span.stats-item-counter .progressbar span {
  -webkit-animation: progressBar 900ms ease 0.15s forwards;
  -moz-animation: progressBar 900ms ease 0.15s forwards;
  animation: progressBar 900ms ease 0.15s forwards;
}
.acm-stats.style-1 .stats-list .stats-asset {
  padding: 0;
  margin-bottom: 60px;
}
.acm-stats.style-1 .stats-list .stats-asset:before,
.acm-stats.style-1 .stats-list .stats-asset:after {
  content: " ";
  display: table;
}
.acm-stats.style-1 .stats-list .stats-asset:after {
  clear: both;
}
.acm-stats.style-1 .stats-list span {
  display: block;
}
.acm-stats.style-1 .stats-list span.stats-item-counter {
  color: #000000;
  padding: 0;
  background-color: #eeeeee;
  border-radius: 0;
}
.acm-stats.style-1 .stats-list span.stats-item-counter .progressbar span {
  background-color: #4bb9b4;
  color: #ffffff;
  font-size: 13px;
  width: 0;
  height: 8px;
  border-radius: 0;
}
.acm-stats.style-1 .stats-list span.stats-item-subject {
  padding-left: 0;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.acm-stats.style-2 .stats-title {
  font-size: 23px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.acm-stats.style-2 .stats-list .stats-asset {
  margin-bottom: 24px;
}
@media screen and (max-width: 991px) {
  .acm-stats.style-2 .stats-list .stats-asset {
    margin-bottom: 48px;
  }
  .acm-stats.style-2 .stats-list .stats-asset:last-child {
    margin-bottom: 0;
  }
}
.acm-stats.style-2 .stats-list .progress-pie-chart {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #eeeeee;
  position: relative;
  border: 2px solid #ffffff;
}
.acm-stats.style-2 .stats-list .progress-pie-chart.gt-50 {
  background-color: #4bb9b4;
}
.acm-stats.style-2 .stats-list .ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% -  65px);
  top: calc(50% -  65px);
  left: -moz-calc(50% -  65px);
  top: -moz-calc(50% -  65px);
  width: 130px;
  height: 130px;
  clip: rect(0, 130px, 130px, 65px);
}
.acm-stats.style-2 .stats-list .ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% -  65px);
  top: calc(50% -  65px);
  left: -moz-calc(50% -  65px);
  top: -moz-calc(50% -  65px);
  width: 130px;
  height: 130px;
  clip: rect(0, 65px, 130px, 0);
  background: #4bb9b4;
  transform: rotate(60deg);
  border: 2px solid #ffffff;
}
.acm-stats.style-2 .stats-list .gt-50 .ppc-progress {
  clip: rect(0, 65px, 130px, 0);
}
.acm-stats.style-2 .stats-list .gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 130px, 130px, 65px);
  background: #eeeeee;
}
.acm-stats.style-2 .stats-list .ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% -  110px / 2);
  top: calc(50% -  110px / 2);
  left: -moz-calc(50% -  110px / 2);
  top: -moz-calc(50% -  110px / 2);
  width: 110px;
  height: 110px;
  background: #ffffff;
  text-align: center;
  display: table;
}
.acm-stats.style-2 .stats-list .ppc-percents span {
  display: block;
  font-size: 23px;
  color: #4bb9b4;
}
.acm-stats.style-2 .stats-list .pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.acm-stats.style-2 .stats-list .progress-pie-chart {
  margin: 0 auto 24px;
}
.acm-stats.style-2 .stats-list span {
  display: block;
  text-align: center;
}
.acm-stats.style-2 .stats-list span.stats-subject {
  color: #222222;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}
.acm-stats.style-2.style-dark .stats-list .progress-pie-chart,
.acm-stats.style-2.style-dark .stats-list .progress-pie-chart.gt-50,
.acm-stats.style-2.style-dark .stats-list .ppc-progress .ppc-progress-fill {
  border-color: #1f262b;
}
.acm-stats.style-2.style-dark .stats-list span.stats-subject {
  color: #ffffff;
}
.acm-stats.style-2.style-dark .small-head {
  color: #ffffff;
}