.acm-contact-info {
  position: relative;
}
.acm-contact-info .info-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.acm-contact-info .info-bg img {
  width: auto;
}
@media (min-width: 1200px) {
  .acm-contact-info .info-bg img {
    width: 100%;
  }
}
.acm-contact-info .info-bg .map-container {
  margin: 0;
}
.acm-contact-info .info-list {
  margin-bottom: 0;
}
.acm-contact-info .info-list dt i {
  margin-left: 8px;
  margin-top: 5px;
  float: right;
}
.acm-contact-info .info-list dd {
  margin-bottom: 24px;
}
.acm-contact-info .info-list dd:last-child {
  margin-bottom: 0;
}
.acm-contact-info .info-list dd a {
  border-bottom: 1px dotted #ffcc00;
}
.acm-contact-info .info-list dd a:hover,
.acm-contact-info .info-list dd a:focus,
.acm-contact-info .info-list dd a:active {
  text-decoration: none;
}
.acm-contact-info.style-dark {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.8);
}
.acm-contact-info.style-1 .info {
  position: absolute;
  width: auto;
  background-color: #ffcc00;
  padding: 24px;
  color: #ffffff;
}
.acm-contact-info.style-1 .info.top-left {
  top: 60px;
  right: 60px;
}
.acm-contact-info.style-1 .info.bottom-right {
  bottom: 60px;
  left: 60px;
}
.acm-contact-info.style-1 .info.bottom-left {
  bottom: 60px;
  right: 60px;
}
.acm-contact-info.style-1 .info.top-right {
  top: 60px;
  left: 60px;
}
.acm-contact-info.style-1.no-background .info {
  background-color: transparent;
  color: inherit;
  padding: 0;
  position: static;
}
.acm-contact-info.style-1 .info-list dd {
  color: #ffffff;
}
.acm-contact-info.style-1 .info-list dd a {
  color: #ffffff;
}
.acm-contact-info.style-1 .info-list dt span {
  text-transform: uppercase;
  font-weight: 400;
  color: #666666;
}